@use "config";
@use "tailords-config" as * with (
  $important: config.$important,
  $prefix: config.$prefix,
  $default-theme: config.$default-theme,
  $colors: config.$colors,
  $utilities: config.$utilities,
  $templates: config.$templates
);

body {
  color: color(brand, 12);
  background-color: color(brand, 1);
}
