@use "../../scss/tailords.scss" with (
  /* prettier-ignore */ $primary-color: #ff0000,
  $secondary-color: #00ff00 /* prettier-ignore */
);

h2 {
  color: $primary-color;
  background-color: $secondary-color;
}
