@use "../variables" as *;
@use "../core/helpers.core" as *;
@use "../core/hover.core" as *;
@use "../core/colors.core" as *;

/*
 * ================ Generadores ================
 */

@if generate(colors) == true {
  /*
   * Genera una clase para modificar el color de fondo por cada color definido
   *
   * @example CSS
   *   .bg-brand             // El color de fondo se colorea con el color de la marca
   */

  @each $name, $color in $theme {
    .#{$prefix}bg-#{"" + $name} {
      @include hover {
        --bg-opacity: 1;
        background-color: color($name, var(--bg-opacity)) #{$important};
      }
    }
  }

  @each $name, $color in $light-theme {
    .#{$prefix}bg-#{"" + $name} {
      --bg-opacity: 1;
      background-color: color($name, var(--bg-opacity)) #{$important};
    }
  }

  /*
   * Genera una clase para fondos transparentes
   *
   * @example CSS
   *   .bg-transparent
   */

  .#{$prefix}bg-transparent {
    background-color: transparent;
  }

  /*
   * Genera una clase para modificar el color del texto por cada color definido
   *
   * @example CSS
   *   .color-brand
   */

  @each $name, $color in $theme {
    .#{$prefix}color-#{"" + $name} {
      --color-opacity: 1;
      color: color($name, var(--color-opacity)) #{$important};
    }
  }

  @each $name, $color in $light-theme {
    .#{$prefix}color-#{"" + $name} {
      --color-opacity: 1;
      color: color($name, var(--color-opacity)) #{$important};
    }
  }
}
