@use "../variables" as *;
@use "../core/helpers.core" as *;

/*
 * ================ Cursor Utilities Generator ================
 */

@if $generate-cursors {
  $template: map.get($utility-classes, cursors);

  @each $cursor in $cursor-types {
    $class-name: parse-cursor-template($template, $cursor);

    .#{$prefix}#{$class-name} {
      cursor: #{$cursor} #{$important};
    }
  }
}
