@use "../variables" as *;
@use "../core/helpers.core" as *;
@use "../core/responsive.core" as *;

/*
 * ================ Display Utilities Generator ================
 */

@if $generate-display {
  $template: map.get($utility-classes, display);
  $displays: (none, inline, inline-block, block, flex, grid, table);

  @each $display in $displays {
    $class-name: parse-display-template($template, $display);

    .#{$prefix}#{$class-name} {
      @include responsive {
        display: #{$display} #{$important};
      }
    }

    .#{$prefix}#{$class-name}--print {
      @media print {
        display: #{$display} #{$important};
      }
    }
  }
}
