@use "../variables" as *;
@use "../core/helpers.core" as *;

/*
 * ================ Overflow Utilities Generator ================
 */

@if $generate-overflow {
  $template: map.get($utility-classes, overflow);
  $overflow-values: (auto, hidden, visible, scroll);

  @each $value in $overflow-values {
    $class-name: parse-overflow-template($template, $value);

    .#{$prefix}#{$class-name} {
      overflow: #{$value} #{$important};
    }
  }
}
