@use "../variables" as *;
@use "../core/helpers.core" as *;
@use "../core/hover.core" as *;
@use "../core/shadows.core" as *;

/*
 * ================ Shadow Utilities Generator ================
 */

@if $generate-shadows {
  $template: map.get($utility-classes, shadows);

  @each $name, $value in $shadow-scale {
    $class-name: parse-shadow-template($template, $name);

    .#{$prefix}#{$class-name} {
      @include hover {
        box-shadow: shadow($value) #{$important};
      }
    }
  }
}
