@use "core/colors" as *;
@use "core/common" as *;
@use "theme" as *;
@use "config" as *;

// =============================================================================
// TailorDS - ROOT
// =============================================================================
//
// Description: Generate all css variables of the design system
//
// =============================================================================

// -----------------------------------------------------------------------------
// ROOT
// -----------------------------------------------------------------------------
// Generate root styles

:root {
  --BLUR--------------------------: 01;
  --BORDERS-----------------------: 02;
  --COLORS------------------------: 03;
  @include generate-colors-vars();
  --FONT-FAMILIES-----------------: 04;
  --FONT-SIZES--------------------: 05;
  --FONT-WEIGHTS------------------: 06;
  --GRADIENTS---------------------: 07;
  --LETTER-SPACINGS---------------: 08;
  --LINE-HEIGHTS------------------: 09;
  --RADIUS------------------------: 10;
  --SHADOWS-----------------------: 11;
  --SPACE-------------------------: 12;
}

// -----------------------------------------------------------------------------
// LIGHT MODE
// -----------------------------------------------------------------------------
// Generate light mode styles
:root,
.#{$prefix}light-mode,
[data-theme="light"] {
  @include generate-theme-vars($theme);
}

// -----------------------------------------------------------------------------
// DARK MODE
// -----------------------------------------------------------------------------
// Generate dark mode styles
.#{$prefix}dark-mode,
[data-theme="dark"] {
  @include generate-theme-vars($theme-dark);
}
