@use "variables" as vars;
@use "mixins" as mix;

.btn {
  @include mix.button-base;

  &--primary {
    @include mix.button-primary;
  }
}

.card {
  padding: vars.$spacing-large;
  border-radius: vars.$border-radius;

  &__title {
    font-size: calc(vars.$font-size-base * 1.25);
    color: vars.$primary-color;
  }
}
